/* =======================
   Responsive
======================= */
@media (max-width: 968px) {
  .larger-container {
    grid-template-columns: 30% 70%;
  }
  
  .tab {
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
  }
  
  .tab-indicator {
    width: 190px;
    height: 60px;
    left: 42%;
  }
}

/* Móviles verticales */
@media (max-width: 768px) {
  .larger-container {
    grid-template-columns: 1fr;
  }
  
  .letf-conteiner {
    display: block;
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
  }

  .tabs {
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
  }

  .tab-indicator {
    display: none; /* opcional en móvil */
  }

  .register-card {
    width: 95%;
    max-width: 400px;
    padding: 1.5rem;
  }
  
  .logo-container {
    width: 160px;
  }
}

/* Móviles horizontales */
@media (max-width: 900px) and (orientation: landscape) {
  .larger-container {
    grid-template-columns: 1fr;
  }
  .letf-conteiner {
    display: none;
  }
  .right-conteiner {
    align-items: flex-start;
    overflow-y: auto;
  }
}

